html,
body {
    margin: 0;
    padding: 0;
}

.search_terms {
    text-align: center;
}

.search_terms li {
    display: inline-block;
    color: black;
    left: 50%;
}

.search_terms label {
    color: black;
}

.boxes label {
    color: black;
}

.search_terms button:hover {
    background: rgb(94, 91, 91);
}

#containerComparison,
#containerYear,
#containerTime,
#containerVehicles {
    margin-top: 5px;
    width: 100%;
    padding: 50px;
    height: 800px;
}

.comparisonHolder,
.populationHolder,
.busyHolder {
    height: 100%;
    width: 80%;
    text-align: center;
}


.population_search,
.boxes,
.hours_dropdown,
.date_container {
    text-align: center;
}

#searchbar,
input[type=search] {
    padding: 6px;
    margin-top: 8px;
    margin-right: 2px;
    font-size: 17px;
    width: 300px;
    color: black;
    border: 1px solid black
}

#switchGraph{
    display: none;
    z-index: 99999;
}

.loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/*~~~~~Time popularity~~~~~*/

.hours_dropdown label {
    color: black;
}

.hours_dropdown li {
    display: inline-block;
    color: black;
    left: 50%;
}

/*~~~~~Active Vehicles~~~~~*/

.date_container label {
    color: black;
}

.date_container [type=date] {
    width: 67%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    color: black;
    font-size: 16px;
}

.date_container li {
    display: inline-block;
    color: black;
    left: 35%;
}