html, body {
    margin: 0;
    padding: 0;
}

.search_terms {
    text-align: center;
}

.search_terms li {
    display: inline-block;
    color: black;
    left: 50%;
}

.search_terms label {
    color: black;
}

.boxes label{
    color: black;
}

.search_terms button:hover{
    background: rgb(94, 91, 91);
}
